.primary {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 0.95rem 1.9rem;
  color: var(--text-light);
  background-color: var(--primary);
  font-size: 0.8125rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  transition: 0.2s ease-in all;
  border: none;
  cursor: pointer;
}

.primary:hover {
  background-color: var(--primary-hover);
}

.primary:focus {
  background-color: var(--primary-hover);
  outline-color: var(--primary);
}

.secondary {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 0.95rem 1.9rem;
  font-size: 0.8125rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  transition: 0.2s ease-in all;
  background-color: transparent;
  border: 1px solid var(--text-dark);
  color: var(--text-dark);
}

.secondary:hover {
  background-color: var(--text-dark);
  color: var(--text-light);
}

.secondary:focus {
  background-color: var(--text-dark);
  color: var(--text-light);
  outline-color: var(--primary);
}

.secondary2 {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 0.95rem 1.9rem;
  font-size: 0.8125rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  transition: 0.2s ease-in all;
  background-color: var(--text-dark);
  color: var(--text-light);
}

.secondary2:hover {
  background-color: #4c4c4c;
  color: var(--text-light);
}

.secondary2:focus {
  background-color: var(--bg-dark);
  outline-color: var(--text-light);
}

.hollow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.85rem;
  text-decoration: none;
  text-align: center;
  padding: 0.3rem 0.8rem;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8125rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  transition: 0.2s ease-in all;
}

.hollow:hover {
  color: var(--primary);
}

.hollow:focus {
  color: var(--primary);
  outline-color: var(--primary);
}
