.secondaryNav {
  margin: 0 auto;
  padding: 2rem 1.5rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

@media (min-width: 768px) {
  .secondaryNav {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0.7rem;
    padding: 2.5rem;
    padding-bottom: 4.2rem;
  }
}

@media (min-width: 1024px) {
  .secondaryNav {
    grid-gap: 1.9rem;
    max-width: 1110px;
    margin: 5.5rem auto;
  }
}
