.shimmer {
  animation: shimmer 1s linear infinite alternate;
}

@keyframes shimmer {
  0% {
    background-color: hsl(200, 0%, 80%);
  }
  100% {
    background-color: hsl(200, 0%, 90%);
  }
}

.productImgContainer {
  aspect-ratio: 1/1;
  margin-bottom: 2.5rem;
  border-radius: 0.5rem;
}

.productNameContainer {
  margin-bottom: 1.5rem;
}

.productName1 {
  width: 150px;
  height: 2rem;
  margin-bottom: 0.25rem;
}

.productName2 {
  width: 250px;
  height: 2rem;
}

.productDescriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 1.5rem;
}

.productDescription {
  height: 1rem;
  width: 100%;
}

.productDescriptionLast {
  height: 1rem;
  width: 60%;
}

.productPrice {
  width: 80px;
  height: 1.25rem;
  margin-bottom: 2rem;
}

.buttonsContainer {
  display: flex;
  gap: 1rem;
}

.countContainer {
  width: 130px;
  height: 46px;
}

.addToCartButton {
  width: 160px;
  height: 46px;
}

@media (min-width: 768px) {
  .productMainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .productImgContainer {
    margin-right: 4.3rem;
    margin-bottom: 0;
    aspect-ratio: 17 /30;
  }

  .productInfoContainer {
    align-self: center;
  }

  .productNameContainer {
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  .productDescriptionContainer {
    margin-bottom: 2rem;
  }
}

@media (min-width: 1024px) {
  .productMainContainer {
    gap: 1.25rem;
  }

  .productImgContainer {
    margin-right: 0;
    aspect-ratio: 1/1;
  }

  .productInfoContainer {
    margin-left: 6.5rem;
  }

  .productNameContainer {
    margin-bottom: 2.5rem;
  }

  .productDescriptionContainer {
    margin-bottom: 3rem;
  }
}
