.shimmer {
  animation: shimmer 1s linear infinite alternate;
}

@keyframes shimmer {
  0% {
    background-color: hsl(200, 0%, 80%);
  }
  100% {
    background-color: hsl(200, 0%, 90%);
  }
}

.productMainContainer {
  margin-bottom: 5.5rem;
}

.productImgContainer {
  aspect-ratio: 1/1;
  margin-bottom: 2.5rem;
  border-radius: 0.5rem;
}

.productNameContainer {
  margin-bottom: 1.5rem;
}

.productName1 {
  width: 150px;
  height: 2rem;
  margin-bottom: 0.25rem;
}

.productName2 {
  width: 250px;
  height: 2rem;
}

.productDescriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 1.5rem;
}

.productDescription {
  height: 1rem;
  width: 100%;
}

.productDescriptionLast {
  height: 1rem;
  width: 60%;
}

.productPrice {
  width: 80px;
  height: 1.25rem;
  margin-bottom: 2rem;
}

.buttonsContainer {
  display: flex;
  gap: 1rem;
}

.countContainer {
  width: 130px;
  height: 46px;
}

.addToCartButton {
  width: 160px;
  height: 46px;
}

/* Features */
.featuresContainer {
  margin-bottom: 7.5rem;
}

.features {
  margin-bottom: 5.5rem;
}

.featuresTitle {
  height: 2.25rem;
  width: 14rem;
  margin-bottom: 2rem;
}

.paragraphContainer:nth-child(2) {
  margin-bottom: 1.5rem;
}

.paragraphLine {
  width: 100%;
  height: 1rem;
  margin-bottom: 0.6rem;
}

.paragraphLine:last-child {
  width: 60%;
}

.inTheBoxTitle {
  height: 2.25rem;
  width: 14rem;
  margin-bottom: 2rem;
}

.item {
  display: flex;
  gap: 1.3rem;
  margin-bottom: 0.5rem;
}

.quantity {
  width: 2rem;
  height: 1rem;
}

.itemName {
  width: 5rem;
  height: 1rem;
}

/* gallery Images */

.galleryContainer {
  display: grid;
  grid-gap: 1.5rem;
  margin-bottom: 7.5rem;
}

.gridImage {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.gridOne,
.gridTwo {
  aspect-ratio: 311 / 165;
}

.gridThree {
  aspect-ratio: 271 /365;
}

@media (min-width: 768px) {
  .productMainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 7.5rem;
  }

  .productImgContainer {
    margin-right: 4.3rem;
    margin-bottom: 0;
    aspect-ratio: 17 /30;
  }

  .productInfoContainer {
    align-self: center;
  }

  .productNameContainer {
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  .productDescriptionContainer {
    margin-bottom: 2rem;
  }

  /* Features */
  .features {
    margin-bottom: 7.5rem;
  }

  .featuresTitle {
    height: 2.5rem;
    margin-bottom: 2rem;
  }

  .inTheBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .inTheBoxTitle {
    height: 2.5rem;
  }

  /* Gallery Container */
  .galleryContainer {
    grid-template-columns: 17fr 24fr;
    grid-template-rows: 1fr 1fr;
  }

  .gridOne {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    aspect-ratio: 143 / 90;
  }

  .gridTwo {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    aspect-ratio: 143 / 90;
  }
  .gridThree {
    grid-row: 1/3;
    grid-column: 2 / 3;
    align-self: center;
    object-fit: cover;
    aspect-ratio: 101 / 94;
  }
}

@media (min-width: 1024px) {
  .productMainContainer {
    gap: 1.25rem;
  }

  .productImgContainer {
    margin-right: 0;
    aspect-ratio: 1/1;
  }

  .productInfoContainer {
    margin-left: 6.5rem;
  }

  .productNameContainer {
    margin-bottom: 2.5rem;
  }

  .productDescriptionContainer {
    margin-bottom: 3rem;
  }

  /* Features */
  .featuresContainer {
    margin-bottom: 9.5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 7.5rem;
  }

  .features {
    margin-bottom: 0;
  }
  .inTheBox {
    display: block;
  }

  /* Gallery images */
  .galleryContainer {
    margin-bottom: 9.5rem;
  }
}
