.productMainContainer {
  margin-bottom: 5.5rem;
}

.productImgContainer {
  margin-bottom: 2.5rem;
}

.productImg {
  max-width: 100%;
  border-radius: 0.5rem;
}

.productInfoContainer {
}

.productNew {
  color: var(--primary);
  font-size: 0.875rem;
  line-height: normal;
  letter-spacing: 0.625rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.productName {
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.productDescription {
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.5625rem;
  opacity: 0.5;
  margin-bottom: 1.5rem;
}

.productPrice {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.08038rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.buttonsContainer {
  display: flex;
  gap: 1rem;
}

.countContainer {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  background-color: var(--bg-light);
  padding: 0 1rem;
}

.countButton {
  display: block;
  padding: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.countIcon {
  color: rgba(0, 0, 0, 0.4);
  height: 0.5rem;
  width: 0.5rem;
}

.count {
  align-self: center;
  font-size: 0.9125rem;
  font-weight: 700;

  letter-spacing: 0.0625rem;
}

/* FEATURES SECTION */
.featuresContainer {
  margin-bottom: 7.5rem;
}

.features {
  margin-bottom: 5.5rem;
}

.featuresTitle {
  color: var(--text-dark);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem; /* 150% */
  letter-spacing: 0.05356rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.featureParagraph {
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.5625rem;
  opacity: 0.5;
}

.featureParagraph:nth-child(2) {
  margin-bottom: 1.5rem;
}

.inTheBoxTitle {
  color: var(--text-dark);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem; /* 150% */
  letter-spacing: 0.05356rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.item {
  display: flex;
  gap: 1.3rem;
  margin-bottom: 0.5rem;
}

.itemQuantity {
  color: var(--primary);
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.5625rem;
}

.itemName {
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.5625rem;
  opacity: 0.5;
}

/* Image gallery */
.galleryContainer {
  display: grid;
  grid-gap: 1.5rem;
}

.gridImage {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

@media (min-width: 768px) {
  .productMainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 7.5rem;
  }

  .productImgContainer {
    margin-right: 4.3rem;
    margin-bottom: 0;
  }

  .productInfoContainer {
    align-self: center;
  }

  .productNew {
    margin-bottom: 1rem;
  }

  .productName {
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  .productDescription {
    margin-bottom: 2rem;
  }

  /* Features Section  */

  .features {
    margin-bottom: 7.5rem;
  }

  .featuresTitle {
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: 0.07144rem;
    margin-bottom: 2rem;
  }

  .featureParagraph:nth-child(2) {
    margin-bottom: 1.5rem;
  }

  .inTheBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .inTheBoxTitle {
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: 0.07144rem;
    margin-bottom: 2rem;
  }

  /* gallery Images */

  .galleryContainer {
    grid-template-columns: 17fr 24fr;
    grid-template-rows: 1fr 1fr;
  }

  .gridOne {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .gridTwo {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  .gridThree {
    grid-row: 1/3;
    grid-column: 2 / 3;
    align-self: center;
    object-fit: cover;
  }
}

@media (min-width: 1024px) {
  .productMainContainer {
    gap: 1.25rem;
    margin-bottom: 9.5rem;
  }

  .productImgContainer {
    margin-right: 0;
  }

  .productInfoContainer {
    margin-left: 6.5rem;
  }

  .productDescription {
    margin-bottom: 3rem;
  }

  /* FEATURES SECTION */
  .featuresContainer {
    margin-bottom: 9.5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 7.5rem;
  }

  .features {
    margin-bottom: 0;
  }
  .inTheBox {
    display: block;
  }
}
